/* fonts  */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;800;900&family=Poppins:wght@300;400;600;700&display=swap');




/* variables  */
:root {
    --primary: #f8b547;
    --secondary: #35353a;
    --dark: #fbf9f5;
    --light: #f3f6f9;
}


body {
    font-family: 'Poppins', sans-serif;
}